*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: 3px solid;
    box-sizing: border-box;
    
}

/* #region animation + general stuff*/

    #closeX{
        display: flex;
        justify-content: right;
        align-items: flex-start;
        font-size: 150%;
    
    }

   

    @keyframes example{
        from{top: 500px;opacity: 0;}
        to{top: 0px; background-color: white;}
    }

    .content{
        width: 50%;
        margin: auto;
        position: relative;
        animation-name: example;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        background-color: white;
        border: 2px solid;
    
    }

    article{
        margin-top: 10px;
        border: 2px solid;
    }

    section{
        margin-top: 20px;
    }

/*#endregion*/

/* #region homepage */
    .flex-container{
        margin: auto;
        display: flex;
        flex-direction: row;
        min-width: 180px;
        justify-content: space-around;
        align-items: center;
        height: 350px;
        width: 70%; 
    }

    .flex-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 5vw;

    }

    .flex-item:hover{
        background-color: rgb(19, 19, 19);
    }

    .flex-item{
        font-size: 30px;
        color: white;
        background-color: rgb(71, 71, 71);
        transition: 1s;
        box-shadow: 10px 10px 3px black;
    }

    .flex-img{
        max-width: 100%;
        height: auto;

    }

/* #endregion */


/* #region Talent 1*/


/*#endregion*/
