*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    
    box-sizing: border-box;
    
    
}

/* #region animation + general stuff*/

    #closeX{
        display: flex;
        justify-content: right;
        align-items: flex-start;
        font-size: 200%;
        color: black;
    
    }


    img{
        width: 90%;
       display: flex;
        margin: auto;
    }
   

    @keyframes example{
        from{top: 700px;opacity: 0;}
        to{top: 0px;}
    }

    .content2{
        width: 50%;
        margin: auto;
        position: relative;
        animation-name: example;
        animation-duration: 2s;
        animation-timing-function: linear;
        border: 2px solid;
        max-width: 1000px;
        background-color: rgb(184, 179, 179);
    }

    article{
        margin-top: 20px;
        border-top: 2px solid;
    }

    section{
        margin-top: 20px;
    }

    h1{
        font-size: 100px;
    }
    
    h3{
        font-size: 50px;
    }
    p{
        font-size: 30px;
    }

/*#endregion*/


body{
    background-image: url(images/optimized2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    
}

/* #region homepage */
    #logo{
        display: flex;
        justify-content: center;
    }

    #logo img{
        height: auto;
        width: 400px;
        max-width: 400px;
        min-width: 200px;
    }

    .flex-container{
        margin: auto;
        display: flex;
        flex-direction: row;
        min-width: 180px;
        justify-content: space-around;
        align-items: flex-start;
        height: 70px;
        width: 100%;
        min-width: 600px;
        border: 2px solid;
        
    }

    .flex-header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 5vw;

    }

    .flex-item:hover{
        background-color: rgb(19, 19, 19);
    }

    .flex-item{
        font-size: 30px;
        color: white;
        background-color: rgb(71, 71, 71);
        transition: 1s;
        box-shadow: 10px 10px 3px black;
        border: 2px solid rgb(71, 71, 71);
    }

    .flex-img{
        max-width: 100%;
        height: auto;

    }

    .content{
        width: 50%;
        margin: auto;
        position: relative;
        animation-name: example;
        animation-duration: 2s;
        animation-timing-function: linear;
        max-width: 1000px;

    }


    h1{
        display: flex;
        justify-content: center;
    }

/* #endregion */


/* #region Talent 1*/


/*#endregion*/


/*#region contact info*/

    .message{
        margin-top: 10px;
       display: flex;
        
    }

    .messageinput{
        margin: 10px;
        width: 90%;
        height: 300px;
    }

    .submit{
        margin-top: 10px;
        
    }

/*#endregion*/


footer{
    margin-top: 500px;
    
}